* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
    align-items: center;
    justify-content: center;
}

#character_helmet {
    position: relative;
    top: 1.25rem;
}

#character_armor {
    position: relative;
}

#character_leggings {
    position: relative;
    bottom: 0.55rem;
}

#character_boots {
    position: relative;
    bottom: 1.4rem;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

h3 {
    margin-top: 0.5rem;
}

img {
    width: 7%;
}

.helmets:hover, .armors:hover, .leggings:hover, .boots:hover {
    cursor: pointer;
}

button {
    margin-top: 1rem;
    padding: 0.25rem;
    font-weight: bold;
}

button {
    margin-top: 1rem;
    padding: 0.25rem;
    font-weight: bold;
}

button:hover {
    margin-top: 1rem;
    padding: 0.25rem;
    font-weight: bold;
}