* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    margin-bottom: 5%;
}

body, nav select#language, nav input#sign_in, form input.email, form input.get_started, ul#movies li input#next {
	color: white;
}

body, nav select#language {
	text-align: center;
}

p {
    color: #babdc8;
}

p, form label {
	font-size: 12px;
}

div.background {
    background-image: url(images/NETFLIX_background.jpg);
    background-size: 100% 100%;
}

header {
    background-image: linear-gradient(to right, black, transparent);
    opacity: 100%;
}

nav img#netflix_logo {
    margin: 0% 60% 0% 6%;
    width: 10%;
    height: 10%;
}

header nav, ul {
	align-items: center;
}

header nav, section.trending_now, section.more_reasons_to_join, ul {
	display: flex;
}

nav select#language {
    width: 8%;
    padding: 3px;
}

nav select#language, nav input#sign_in, form input.email, form input.get_started {
	border-radius: 2px;
}

nav select#language, form input.email {
	border: 1px solid #595858;
    background-color: #181718;
    opacity: 90%;
}

nav input#sign_in {
    margin-left: 8px;
    width: 5%;
    padding: 4px;
    font-weight: bold;
}

nav input#sign_in, form input.get_started, ul#movies li input#next {
    border-style: none;
}

nav input#sign_in, form input.get_started {
    background-color: #e50914;
}

section.membership {
    padding: 10% 29% 20% 29%; 
}

section.membership h1{
    font-size: 40px;
}

section.membership h4, form label {
    padding: 5px;
}

form label {
    display: block;
}

form input.email {
    width: 275px;
}

form input.email, form input.get_started {
    padding: 8px;
}

form input.get_started {
    width: 120px;
    font-size: 15px;
}

section.trending_now, section.more_reasons_to_join {
    text-align: left;
    padding: 0% 6% 0% 6%;
    flex-direction: column;
    margin: 1% 0% 5% 4%;
}

ul {
    justify-content: left;
    margin-top: 1%;
    margin-left: 20px;
}

ul li{
    display: inline-block;
}

ul#movies li img{
    width: 90%;
}

ul#movies li img, ul#movies li input#next, ul#reasons li {
    border-radius: 10px;
}

ul#movies li input#next{
    background-color: #1a1a1a;
    width: 20px;
    height: 100px;
}

ul#reasons {
    margin-left: 0px;
}

ul#reasons li {
    background-color: #192247;
    width: 215px;
    height: 230px;
    margin-right: 15px;
    padding: 15px;
    gap: 10px;
}

ul#reasons li h3, ul#reasons li p{
    padding: 10px 38px 10px 0px;
}

input#sign_in:hover, input.get_started:hover {
    background-color: maroon;
}

ul#movies li input#next:hover{
    background-color: white;
    color: #1a1a1a;
}

/* Responsive Design Application */

/* Phone screens */
@media (max-width: 480px) {
    body {
        max-width: 30rem;
        margin-bottom: 10%;
    }

    nav img#netflix_logo {
        width: 15%;
        height: auto;
        margin: 0 39% 0 0;
        padding: 0.75rem;
    }

    nav select#language {
        width: 20%;
        padding: 0.3125rem;
        font-size: 1rem;
    }

    nav input#sign_in {
        width: 16%;
        font-size: 1rem;
        padding: 0.375rem;
    }

    section.membership {
        padding: 10% 6% 20% 6%;
    }

    section.membership h1{
        font-size: 1.75rem;
    }

    section.membership h4 {
        font-size: 1.125rem;
        font-weight: lighter;
    }

    form label {
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    form input.email,
    form input.get_started {
        font-size: 1rem;
        border-radius: 0.9375rem;
    }

    form input.email {
        width: 96%;
        margin-bottom: 0.75rem;
    }

    form input.get_started {
        width: 100%;
        font-weight: bold;
    }

    section.trending_now,
    section.more_reasons_to_join {
        padding: 0 3%;
        margin: 1% 0 5% 0;
    }

    ul#movies {
        margin-left: 0;
    }

    ul#reasons {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        margin-left: 4.25%;
        margin-bottom: 2rem;
    }

    ul#reasons li {
        width: 100%;
        margin-right: 4.25%;
        height: 8rem;
    }

    ul#reasons li h3,
    ul#reasons li p {
        padding: 0.25rem 0;
    }

    form input#email2 {
        width: 90%;
        margin-bottom: 0.75rem;
    }

    form input#get_started2 {
        width: 91%;
    }

    p {
        font-size: 1rem;
    }

    h3 {
        font-size: 1.25rem;
    }
}

/* Tablet Screens */
@media (min-width: 481px) and (max-width: 1023px) {
    body {
        max-width: 63.9rem;
        margin-bottom: 7.5%;
    }

    nav img#netflix_logo {
        width: 15%;
        height: auto;
        margin: 0 54% 0 0;
        padding: 1.5rem;
    }

    nav select#language {
        width: 13%;
        padding: 0.4375rem;
        font-size: 1rem;
    }

    nav input#sign_in {
        width: 9%;
        font-size: 1rem;
        padding: 0.5rem;
    }

    section.membership {
        padding: 10% 24% 20% 24%;
    }

    section.membership h1{
        font-size: 2.25rem;
    }

    section.membership h4 {
        font-size: 1.25rem;
        font-weight: lighter;
    }

    form label {
        font-size: 1rem;
        padding: 0 1rem;
        margin-bottom: 1rem;
    }

    form input.email,
    form input.get_started {
        font-size: 1rem;
    }

    form input.email {
        padding: 1rem;
        width: 40%;
        margin-right: 0.25rem;
    }

    form input.get_started {
        padding: 1rem;
        width: 31%;
        font-weight: bold;
    }

    section.trending_now,
    section.more_reasons_to_join {
        padding: 0 4%;
        margin: 2% 0 7.5% 0;
    }

    ul#movies {
        margin-left: 1%;
    }

    ul#reasons {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        margin-left: 4%;
        margin-bottom: 2.5rem;
    }

    ul#reasons li {
        width: 100%;
        margin-right: 4.25%;
        height: 9rem;
    }

    ul#reasons li h3,
    ul#reasons li p {
        padding: 0.4375rem 0;
    }

    form input#email2 {
        padding: 1rem;
        width: 70%;
        margin-right: 0.25rem;
    }

    form input#get_started2 {
        padding: 1rem;
        width: 17.5%;
    }

    p {
        font-size: 1rem;
    }

    h3 {
        font-size: 1.5rem;
    }
}

/* Desktop Screens */
@media (min-width: 1024px) {
    body {
        max-width: 80rem;
        margin-bottom: 10%;
    }

    nav img#netflix_logo {
        margin: 0 48% 0 10%;
        padding: 1.5rem;
    }

    nav select#language {
        width: 10%;
        padding: 0.6375rem;
        font-size: 1.125rem;
    }

    nav input#sign_in {
        width: 9%;
        font-size: 1.125rem;
        padding: 0.7rem;
    }

    section.membership {
        padding: 10% 20% 20% 20%; 
    }

    section.membership h1{
        font-size: 3rem;
    }

    section.membership h4 {
        font-size: 1.375rem;
        margin: 0.75rem 0 0.75rem;
    }

    form label {
        font-size: 1.125rem;
        margin-bottom: 1rem;
    }

    form input.email,
    form input.get_started {
        font-size: 1.125rem;
    }

    form input.email {
        padding: 1rem;
        width: 55%;
        margin-right: 0.25rem;
    }

    form input.get_started {
        padding: 1rem;
        width: 36%;
        font-weight: bold;
    }

   
    ul#reasons li {
        height: 23.5rem;
    }

    form input#email2 {
        width: 50%;
    }

    form input#get_started2 {
        width: 15.5%;
    }

    p {
        font-size: 1.125rem;
    }


    h3 {
        font-size: 1.75rem;
    }
}